<form #fm1="ngForm" (ngSubmit)="onDownload(fm1)" novalidate id="leadForm" style="width: 80%;
max-width: 80%;margin: 0 auto;">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Download Budget Format</nb-card-header>
        <nb-card-body [nbSpinner]="isDownload" nbSpinnerStatus="primary">
          
          <div class="row">
            <div class="col-lg-6 mb-3">
              <nb-select shape="semi-round" placeholder="Select Donor" name="donor_upload" required #donor_upload="ngModel"
                [(ngModel)]="model.donor_upload" (selectedChange)="donorSelect($event)">
                <nb-option *ngFor="let donor of donoAccountList" [value]="{id:donor.id,name:donor.budget_name,type:donor.budget_type}">
                  {{ donor.budget_name }}
                </nb-option>
              </nb-select>
              <div *ngIf="fm1.submitted && donor_upload.invalid" class="error-message">Donor is required</div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="verticesShowHide == 1">
                <nb-select shape="semi-round" placeholder="Select Vertices" name="vertices" #vertices="ngModel"
                [(ngModel)]="model.vertices">
                    <nb-option *ngFor="let vertices of verticesList" [value]="vertices.vertices_id">
                    {{ vertices.vertices_name }}
                    </nb-option>
                </nb-select>
              <div *ngIf="fm.submitted && common_particular.invalid" class="error-message">Common Particular is required</div>
            </div>
            <div class="col-md-6 mb-3" *ngIf="centerShowHide == 1">
                <nb-select shape="semi-round" placeholder="Select Center" name="center" #center="ngModel"
                [(ngModel)]="model.center">
                    <nb-option *ngFor="let center of centerList" [value]="center.center_id">
                    {{ center.center_code }}
                    </nb-option>
                </nb-select>
              <div *ngIf="fm.submitted && common_particular.invalid" class="error-message">Common Particular is required</div>
            </div>
            <div class="col-lg-12">
                <button nbButton status="primary" shape="semi-round" hero type="submit" [disabled]="isDownload">
                    Download
                </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
  </div>
</form>

<form #fm="ngForm" (ngSubmit)="onUpload(fm)" novalidate id="leadForm" style="width: 80%;
max-width: 80%;margin: 0 auto;">
    <div class="row">
        <div class="col-lg-12">
            <nb-card>
                <nb-card-header>Upload Budget Format</nb-card-header>
                <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
                <div class="row">
                    <div class="col-lg-7">
                      <nb-select shape="semi-round" placeholder="Select Donor" name="donor" required #donor="ngModel"
                          [(ngModel)]="model.donor">
                          <nb-option *ngFor="let donor of donoAccountList" [value]="{id:donor.id,name:donor.budget_name,type:donor.budget_type}">
                          {{ donor.budget_name }}
                          </nb-option>
                      </nb-select>
                      <div *ngIf="fm.submitted && donor.invalid" class="error-message">Donor is required</div>
                    </div>
                    <div class="col-lg-5">
                        <input type="file" nbInput fullWidth shape="semi-round" name="file" required #file="ngModel"
                            [(ngModel)]="model.file" (change)="onFileChange($event)" accept=".xls,.xlsx" />
                        <div *ngIf="fileError" class="error-message">{{ fileError }}</div>
                        <div *ngIf="fm.submitted && file.invalid" class="error-message">File is required</div>
                    </div>
                </div>
                <button nbButton status="primary" shape="semi-round" hero type="submit">
                    Upload
                </button>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</form>