<form #fm="ngForm" (ngSubmit)="onDownload(fm)" novalidate id="leadForm" style="width: 80%;
max-width: 80%;margin: 0 auto;">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Download Budget Format</nb-card-header>
        <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
          
          <div class="row">
            <div class="col-lg-9">
              <nb-select shape="semi-round" placeholder="Select Donor" name="donor" required #donor="ngModel"
                [(ngModel)]="model.donor" (selectedChange)="donorSelect($event)">
                <nb-option *ngFor="let donor of donoAccountList" value="donor.donor_id">
                  {{ donor.budget_name }}
                </nb-option>
              </nb-select>
              <div *ngIf="fm.submitted && donor.invalid" class="error-message">Donor is required</div>
            </div>
            <div class="col-lg-3">
                <button nbButton status="primary" shape="semi-round" hero type="submit" [disabled]="isDownload">
                    Download
                </button>
            </div>
          </div>
        </nb-card-body>
      </nb-card>

    </div>
  </div>
</form>

<form #fm1="ngForm" (ngSubmit)="onUpload(fm1)" novalidate id="leadForm" style="width: 80%;
max-width: 80%;margin: 0 auto;">
    <div class="row">
        <div class="col-lg-12">
            <nb-card>
                <nb-card-header>Upload Budget Format</nb-card-header>
                <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
                
                <div class="row">
                    <div class="col-lg-7">
                    <nb-select shape="semi-round" placeholder="Select Donor" name="donor" required #donor="ngModel"
                        [(ngModel)]="model.donor">
                        <nb-option *ngFor="let donor of donoAccountList" value="donor.donor_id">
                        {{ donor.budget_name }}
                        </nb-option>
                    </nb-select>
                    <div *ngIf="fm.submitted && donor.invalid" class="error-message">Donor is required</div>
                    </div>
                    <div class="col-lg-5">
                        <input type="file" nbInput fullWidth shape="semi-round" placeholder="Upload Budget" name="budget_file"
                        required #af_lc_contribution="ngModel" [(ngModel)]="model.af_lc_contribution">
                    </div>
                </div>
                <button nbButton status="primary" shape="semi-round" hero type="submit" [disabled]="isSubmitting">
                    Upload
                </button>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</form>