<h5 class="page-title">Student Info</h5>

<nb-card class="search-card">
  <nb-card-body>
    <div class="form-field-wrapper autocomplete-wrapper">
      <nb-form-field>
        <nb-icon nbPrefix icon="person-outline" status="primary" style="margin-left: 20px;"></nb-icon>
        <input nbInput placeholder="Search by Student Email,phone,ORI no and Student Code" [(ngModel)]="searchTerm" name="searchTerm"
          (keyup)="fetchStudents($event)" (focus)="showDropdown = true" (blur)="hideDropdownWithDelay()"
          autocomplete="off" required />
      </nb-form-field>

      <!-- Autocomplete dropdown -->
      <ul *ngIf="showDropdown && searchResults.length > 0" class="search-results">
        <li *ngFor="let student of searchResults" (mousedown)="selectStudent(student)">
          {{ student.name }}
        </li>
      </ul>
    </div>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="leadFlowData.length>0">
  <nb-card-header>Student Lead Details</nb-card-header>
  <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
    <div class="row">
      <!-- Left Side: Timeline -->
      <div class="col-lg-4 col-md-12">
        <div style="border: 1px solid #ccc;padding: 10px; border-radius: 5px;padding-bottom: 27px;">
          <h5 style="font-size: 18px;color: #7a7e83;">Lead Activity</h5>
          <div class="row">
            <div class="col-md-12 col-lg-12">
              <div id="tracking-pre"></div>
              <div id="tracking">
                <div class="tracking-list">
                  <div class="tracking-item" *ngFor="let stage of leadFlowData">
                    <div class="tracking-icon status-intransit">
                      <svg class="svg-inline--fa fa-circle fa-w-16" aria-hidden="true" data-prefix="fas"
                        data-icon="circle" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path fill="currentColor"
                          d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z">
                        </path>
                      </svg>
                    </div>

                    <div class="tracking-content">
                      {{ stage.lead_status }}
                      <span style="color:rgb(60 111 255);"> ({{stage.lead_stage}}) </span>
                      <span>
                        {{ stage.created_at | date: 'dd MMM yyyy, h:mma' }}
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>

      <!-- Right Side: Form (unchanged) -->
      <div class="col-lg-8 col-md-12">
        <div style="border: 1px solid #ccc;padding: 10px; border-radius: 5px;">
          <h5 style="font-size: 18px;color: #7a7e83;">Basic Details</h5>
          <form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate id="leadForm">
            <div class="row">
              <div class="col-lg-12">
                <nb-card-body class="p-0">
                  <div class="row">
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Name:</strong> {{ model.first_name }} {{ model.last_name
                        }}</label>
                    </div>
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Mobile:</strong> {{ model.phone_number }}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Email:</strong> {{ model.email_id }}</label>
                    </div>
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Center:</strong> {{ model.center_code }}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Course:</strong> {{ model.course }}</label>
                    </div>
                    <div class="col-lg-6">
                      <label class="small-label"><strong>State:</strong> {{ model.state }}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <label class="small-label"><strong>District:</strong> {{ model.distric }}</label>
                    </div>
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Source Category:</strong> {{ model.category }}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Source Type:</strong> {{ model.source_type }}</label>
                    </div>
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Status:</strong> {{ preselectedStatus }}</label>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-lg-6">
                      <label class="small-label"><strong>Follow Up Date:</strong> {{ preselectedFollowDate }}</label>
                    </div>
                         <div class="col-lg-6" *ngIf="oriId !== null">
                      <label class="small-label"><strong>ORI Number:</strong> {{ oriId }}</label>
                    </div>
                  </div>
           
                </nb-card-body>
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </nb-card-body>
</nb-card>