<form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate id="uploadFile" style="width: 100%;margin: 0 auto;">      
    <nb-card>
        <nb-card-header>{{ isEditMode ? 'Update Custom Field' : 'Add Custom Field' }}</nb-card-header>
            <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
                <div class="row">
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Field Name <span
                                style="color:#d32f2f">*</span></label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter Field Name. Ex. gst_no"
                            name="field_name" required #field_name="ngModel" [(ngModel)]="model.field_name">
                        <div *ngIf="fm.submitted && field_name.invalid" class="error-message">
                            Field name is required
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Field Label<span
                                style="color:#d32f2f">*</span></label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter Field Label. Ex. GST No"
                            name="field_label" required #field_label="ngModel" [(ngModel)]="model.field_label">
                        <div *ngIf="fm.submitted && field_label.invalid" class="error-message">
                            Field label is required
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Field Type</label>
                        <nb-select shape="semi-round" placeholder="Select Type" name="field_type"
                            required #field_type="ngModel" [(ngModel)]="model.field_type">
                            <nb-option value="Text">Text</nb-option>
                            <nb-option value="Number">Number</nb-option>
                            <nb-option value="Date">Date</nb-option>
                        </nb-select>
                        <div *ngIf="fm.submitted && field_type.invalid" class="error-message">
                            Select Field Type
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Field Options<span
                                style="color:#d32f2f">*</span></label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter Field Options"
                            name="field_options" required #field_options="ngModel" [(ngModel)]="model.field_options">
                        <div *ngIf="fm.submitted && field_options.invalid" class="error-message">
                            Field options are required
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Placeholder<span
                                style="color:#d32f2f">*</span></label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter Placeholder"
                            name="placeholder" required #placeholder="ngModel" [(ngModel)]="model.placeholder">
                        <div *ngIf="fm.submitted && placeholder.invalid" class="error-message">
                            Placeholder is required
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Default Value</label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter Default Value"
                            name="default_value" #default_value="ngModel" [(ngModel)]="model.default_value">
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Is Required<span
                                style="color:#d32f2f">*</span></label>
                        <nb-select shape="semi-round" placeholder="Select Type" name="is_required"
                            required #is_required="ngModel" [(ngModel)]="model.is_required">
                            <nb-option value="1">Yes</nb-option>
                            <nb-option value="0">No</nb-option>
                        </nb-select>
                        <div *ngIf="fm.submitted && is_required.invalid" class="error-message">
                            Select if the field is required
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Min Length</label>
                        <input type="number" nbInput fullWidth shape="semi-round" placeholder="Enter Min Length"
                            name="min_length" #min_length="ngModel" [(ngModel)]="model.min_length">
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Max Length</label>
                        <input type="number" nbInput fullWidth shape="semi-round" placeholder="Enter Max Length"
                            name="max_length" #max_length="ngModel" [(ngModel)]="model.max_length">
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Show in Form <span
                        style="color:#d32f2f">*</span></label>
                        <nb-select shape="semi-round" placeholder="Select Option" name="show_in_form"
                            required #show_in_form="ngModel" [(ngModel)]="model.show_in_form">
                            <nb-option value="1">Yes</nb-option>
                            <nb-option value="0">No</nb-option>
                        </nb-select>
                        <div *ngIf="fm.submitted && show_in_form.invalid" class="error-message">
                            Select if the field should be shown in the form.
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label">Show in List <span
                        style="color:#d32f2f">*</span></label>
                        <nb-select shape="semi-round" placeholder="Select Option" name="show_in_list"
                            required #show_in_list="ngModel" [(ngModel)]="model.show_in_list">
                            <nb-option value="1">Yes</nb-option>
                            <nb-option value="0">No</nb-option>
                        </nb-select>
                        <div *ngIf="fm.submitted && show_in_list.invalid" class="error-message">
                            Select if the field should be shown in the list.
                        </div>
                    </div>
                </div>
            </nb-card-body>
        <nb-card-footer>
            <div class="mt-3" style="display:flex; justify-content:flex-end; gap:8px;">
                <button nbButton status="primary" shape="semi-round" hero type="submit"
                    [disabled]="isSubmitting">
                    {{ isEditMode ? 'Update' : 'Submit' }}
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
