::ng-deep ng2-smart-table table {
    font-size: 14px;
  }
  
  ::ng-deep ng2-smart-table table tr,
  ::ng-deep ng2-smart-table table td,
  ::ng-deep ng2-smart-table table th {
    padding: 4px 8px !important;
  }
  
  ::ng-deep ng2-smart-table table th {
    font-weight: bold !important;
    font-size: 10px !important;
    padding: 3px 8px !important;
  }
  
  ::ng-deep .badge {
    font-size: 65%;
    // padding: 2px 6px;
  }
  
  .count-span {
    background-color: #ffffff;
    color: #222;
    border-radius: 12px;
    padding: 2px 8px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 6px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }
  
  .tiny-button {
    padding: 4px 8px !important;
    font-size: 11px !important;
    line-height: 1.2 !important;
    height: auto !important;
  }
  ::ng-deep .wrap-email {
    white-space: normal !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 140px;
    line-height: 1.2;
  }
  .filterDiv{
    padding: 5px 15px;
    background: var(--background-basic-color-2); // <- use a theme variable
    margin: 0px !important;
    border-radius: 8px;
}
:host ::ng-deep .filterDiv nb-radio.my-radio label {
  padding-right: 0.5rem !important;
  margin: 0px !important;
}
:host ::ng-deep nb-radio-group {
  margin: 0 !important;
}

.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050; // Make sure it's on top of everything
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.content-blur {
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
}
// Center Select
::ng-deep nb-select {
  height: 46px !important;
  line-height: 46px !important;
}

::ng-deep nb-select .select-button {
  height: 46px !important;
  line-height: 46px !important;
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important;
  display: flex;
  align-items: center;
}

