<nb-card *ngIf="globalService.role_id === 34 || globalService.role_id === 23 || globalService.role_id === 11 || globalService.role_id === 15">
  <nb-card-header>
    Manage Lead
  </nb-card-header>

  <nb-card-body class="position-relative">
    <!-- Spinner overlay -->
    <div *ngIf="loading" class="loading-overlay d-flex justify-content-center align-items-center">
      <nb-spinner size="large" status="primary"></nb-spinner>
    </div>

    <div [class.content-blur]="loading">
      <!-- Followups Buttons -->
      <div class="row align-items-center mb-3">
        <div class="col-md-2">
          <label style="font-weight: 600;">Followups:</label>
        </div>
        <div class="col-md-10">
          <button class="tiny-button" style="margin-right: 4px;" nbButton size="small" status="primary"
            (click)="filterFollowups('today')">Today <span class="count-span">{{todayCount}}</span></button>
          <button class="tiny-button" style="margin-right: 4px;" nbButton size="small" status="success"
            (click)="filterFollowups('yesterday')">Yesterday <span class="count-span">{{yesterdayCount}}</span></button>
          <button class="tiny-button" style="margin-right: 4px;" nbButton size="small" status="warning"
            (click)="filterFollowups('tomorrow')">Tomorrow <span class="count-span">{{tomorrowCount}}</span></button>
          <button class="tiny-button" style="margin-right: 4px;" nbButton size="small" status="info"
            (click)="getLeadData()">ALL <span class="count-span">{{apiData.length}}</span></button>
        </div>
      </div>
      <input type="text" nbInput fullWidth shape="semi-round" #search class="search mb-3" placeholder="Search..."
        (keydown.enter)="onSearch(search.value)">
      <ng2-smart-table [settings]="settings" [source]="source" >
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>