::ng-deep ng2-smart-table table {
  font-size: 14px;
}

::ng-deep ng2-smart-table table tr,
::ng-deep ng2-smart-table table td,
::ng-deep ng2-smart-table table th {
  padding: 4px 8px !important;
}

::ng-deep ng2-smart-table table th {
  font-weight: bold !important;
  font-size: 10px !important;
  padding: 3px 8px !important;
}

::ng-deep .badge {
  font-size: 60%;
  // padding: 2px 6px;
}

.count-span {
  background-color: #ffffff;
  color: #222;
  border-radius: 12px;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
  margin-left: 6px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
}

.tiny-button {
  padding: 4px 8px !important;
  font-size: 11px !important;
  line-height: 1.2 !important;
  height: auto !important;
}
.loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1050; // Make sure it's on top of everything
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.content-blur {
  filter: blur(1px);
  pointer-events: none;
  user-select: none;
}

// ::ng-deep ng2-smart-table table tr td:nth-child(2),
// ::ng-deep ng2-smart-table table thead th:nth-child(2) {
//   width: 80px !important;
//   max-width: 80px;
//   min-width: 80px;
//   white-space: normal !important;
//   word-break: break-word;
//   overflow-wrap: break-word;
// }
// ::ng-deep ng2-smart-table table tr td:nth-child(5),
// ::ng-deep ng2-smart-table table thead th:nth-child(5) {
//   width: 80px !important;
//   max-width: 80px;
//   min-width: 80px;
//   white-space: normal !important;
//   word-break: break-word;
//   overflow-wrap: break-word;
// }
::ng-deep ng2-smart-table table tr td:nth-child(9),
::ng-deep ng2-smart-table table thead th:nth-child(9) {
  width: 70px !important;
  max-width: 70px;
  min-width: 70px;
  white-space: normal !important;
  word-break: break-word;
  overflow-wrap: break-word;
}
.count-badge {
  background-color: #007bff; /* Bootstrap blue or use your Nebular theme color */
  color: white;
  padding: 2px 8px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 8px;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.red-text {
  color: red;
  font-weight: 500;
}
