<!-- Dashboard Layout -->
<div class="dashboard-grid">
       <!-- Spinner overlay -->
    <div *ngIf="isSubmitting" class="loading-overlay d-flex justify-content-center align-items-center">
      <nb-spinner size="large" status="primary"></nb-spinner>
    </div>

    <!-- Left Side: Summary Cards -->
    <div class="summary-cards">
        <nb-card *ngFor="let stat of statsData">
            <nb-card-header>{{ stat.title }}</nb-card-header>
            <nb-card-body class="summary-value">{{ stat.value }}</nb-card-body>
        </nb-card>
    </div>

   

    <!-- Lower Grid: Charts & Reports -->
    <div class="lower-grid">
        <!-- Bar Chart -->
        <nb-card>
            <nb-card-header>Leads Performance</nb-card-header>
            <nb-card-body>
                <!-- Bar chart goes here -->
    <ngx-chartjs-bar [chartData]="chartBarData"></ngx-chartjs-bar>
            </nb-card-body>
        </nb-card>


    </div>
</div>