.date-range {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 40px;
}

.error-text {
  color: #e53935;
  font-size: 0.75rem;
  margin-top: 0.25rem;
}
::ng-deep nb-accordion-item {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  background-color: #f9f9fc; /* Light background */
  margin-bottom: 1rem;
  transition: background-color 0.3s ease;
}

::ng-deep nb-accordion-item-header {
  padding: 1rem 1.5rem;
  background-color: #e0e7ff; /* Soft blue */
  border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  color: #1e2a47;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: background-color 0.3s;
}

::ng-deep nb-accordion-item-header:hover {
  background-color: #c7d2fe; /* Lighter on hover */
}

// ::ng-deep nb-accordion-item-body {
//   padding: 1.5rem;
//   background-color: #ffffff;
//   border-radius: 0 0 10px 10px;
// }
