.dashboard-card {
  height: calc(100vh - 120px); // adjust as needed based on header/nav size
}

.dashboard-body {
  height: 100%;
  padding: 0;
  overflow: hidden;
}

.dashboard-iframe {
  width: 100%;
  height: 100%;
  border: none;
}
