<nb-card class="assetData-details-dialog">
  <nb-card-header>
    <div class="d-flex justify-content-between align-items-center">
      <span>Asset Data Details</span>
      <button nbButton ghost size="tiny" (click)="closeDialog()">✖</button>
    </div>
  </nb-card-header>

  <nb-card-body>
    <table class="table table-bordered table-striped">
      <tbody>
        <tr>
          <th>Anudip ID No:</th>
          <td>{{ assetData.anudip_identification_no ? assetData.anudip_identification_no : 'N/A' }}</td>
          <th>Asset Name:</th>
          <td>{{ assetData.assets_sub_class ? assetData.assets_sub_class : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Brand:</th>
          <td>{{ assetData.brand_name ? assetData.brand_name : 'N/A' }}</td>
          <th>Serial No:</th>
          <td>{{ assetData.serial_no ? assetData.serial_no : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Purchase Date:</th>
          <td>{{ assetData.purchase_date ? (assetData.purchase_date | date:'yyyy-MM-dd') : 'N/A' }}</td>
          <th>Model No:</th>
          <td>{{ assetData.model_no ? assetData.model_no : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Voucher No:</th>
          <td>{{ assetData.voucher_no ? assetData.voucher_no : 'N/A' }}</td>
          <th>Voucher Date:</th>
          <td>{{ assetData.voucher_date ? (assetData.voucher_date | date:'yyyy-MM-dd') : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Center:</th>
          <td>{{ assetData.center_code ? assetData.center_code : 'N/A' }}</td>
          <th>Nature Of Asset:</th>
          <td>{{ assetData.nature_of_assets ? assetData.nature_of_assets : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Owner Of Asset:</th>
          <td>{{ assetData.owner_of_assets ? assetData.owner_of_assets : 'N/A' }}</td>
          <th>Supplier Name:</th>
          <td>{{ assetData.supplier_name ? assetData.supplier_name : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Value:</th>
          <td>{{ assetData.value_of_assets ? assetData.value_of_assets : 'N/A' }}</td>
          <th>Status Of Asset:</th>
          <td>{{ assetData.status_of_assets ? assetData.status_of_assets : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Invoice No:</th>
          <td>{{ assetData.invoice_no ? assetData.invoice_no : 'N/A' }}</td>
          <th>Funded By:</th>
          <td>{{ assetData.funded_by ? assetData.funded_by : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Asset Type:</th>
          <td>{{ assetData.asset_type ? assetData.asset_type : 'N/A' }}</td>
          <th>Remarks:</th>
          <td>{{ assetData.remarks ? assetData.remarks : 'N/A' }}</td>
        </tr>

        <tr>
          <th>Asset Under:</th>
          <td>{{ assetData.assets_under ? assetData.assets_under : 'N/A' }}</td>
          <th>Actual Asset:</th>
          <td>{{ assetData.actual_assets_project ? assetData.actual_assets_project : 'N/A' }}</td>
        </tr>
      </tbody>
    </table>
  </nb-card-body>
</nb-card>
