<nb-card class="transfer-dialog">
  <nb-card-header>
    Transfer Selected Leads
  </nb-card-header>

  <form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate>
    <nb-card-body class="scroll-container custom-spinner-container"  [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
      <p class="lead-info">
        You have selected <strong>{{ rows.length }}</strong> lead(s):
      </p>

      <div class="form-group">
        <nb-select
          overlayClass="center-select-overlay"
          shape="semi-round"
          placeholder="Select Center"
          name="center"
          required
          #center="ngModel"
          [(ngModel)]="model.center"
          >
          <nb-option *ngFor="let center of centerList" [value]="{center_id:center.center_id,short_code:center.short_code,center_name:center.center_name}">
            {{ center.short_code }}
          </nb-option>
        </nb-select>
        <div *ngIf="fm.submitted && center.invalid" class="error-message">
          Center is required
        </div>
      </div>
    </nb-card-body>

    <nb-card-footer class="actions">
      <button nbButton status="secondary" type="button" (click)="cancel()">Cancel</button>
      <button nbButton status="primary" type="submit">Submit</button>
    </nb-card-footer>
  </form>
</nb-card>