@import '../../shared/styles/compact-entity-list';

.user-status-badge.active-status {
  color: #168354;
  background: #eaf8f1;
}

.user-status-badge.inactive-status {
  color: #cf4055;
  background: #fff0f2;
}
