<nb-card>
  <nb-card-header>
    Rejected Student Counseling
  </nb-card-header>

  <nb-card-body class="position-relative">

    <!-- Spinner overlay -->
    <div *ngIf="loading" class="loading-overlay d-flex justify-content-center align-items-center">
      <nb-spinner size="large" status="primary"></nb-spinner>
    </div>

    <!-- Content -->
    <div [class.content-blur]="loading">

      <input type="text" nbInput fullWidth shape="semi-round" #search class="search mb-3" placeholder="Search..."
        (keydown.enter)="onSearch(search.value)">

      <ng2-smart-table [settings]="settings" [source]="source">
      </ng2-smart-table>
    </div>
  </nb-card-body>
    <nb-card-footer class="d-flex justify-content-end">
    <button
      nbButton
      status="primary"
      [disabled]="selectedRows.length === 0"
      (click)="openEditDialog()">
      Transfer
    </button>
  </nb-card-footer>
</nb-card>