<form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate id="leadFormBulk" style="width: 100%;
margin: 0 auto;">
    <div class="row">
        <div class="col-lg-12">
            <nb-card>
                <nb-card-header>Asset Status Change</nb-card-header>
                <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">

                    <div class="row">

                        <div class="col-lg-12">
                            <label class="small-label" id="label-category"> Center <span
                                    style="color:#d32f2f">*</span></label>
                            <!-- Custom Dropdown Wrapper -->
                            <div class="custom-select" #dropdownTrigger [class.invalid]="fm.submitted && center.invalid"
                                (click)="toggleDropdown()">
                                <span class="truncate-text" [ngClass]="{ 'placeholder': !model.center }">
                                    <ng-container *ngIf="model.center; else placeholderText">
                                        {{ selectedCenter.center_name }}
                                    </ng-container>
                                    <ng-template #placeholderText>
                                        Select Center
                                    </ng-template>
                                </span>

                                <nb-icon [icon]="dropdownOpen ? 'chevron-up-outline' : 'chevron-down-outline'"
                                    pack="eva"></nb-icon>
                            </div>

                            <!-- Form Binding for Validation -->
                            <input type="text" name="center" [(ngModel)]="model.center" #center="ngModel" required
                                hidden />

                            <!-- Dropdown with dynamic direction -->
                            <div class="custom-dropdown" [ngClass]="{ 'open-up': openAbove, 'open-down': !openAbove }"
                                *ngIf="dropdownOpen">
                                <input nbInput fullWidth placeholder="Search..." [(ngModel)]="searchText"
                                    (ngModelChange)="filterOptions()" />

                                <div *ngFor="let center of filterCenterList"
                                    (click)="selectTransCenter(center.center_code)" class="dropdown-item">
                                    {{ center.center_name }}
                                </div>

                                <div *ngIf="filterCenterList.length === 0" class="dropdown-item disabled">
                                    No Center found
                                </div>
                            </div>

                            <!-- Error Message -->
                            <div *ngIf="fm.submitted && center.invalid" class="error-message">
                                Center is required
                            </div>
                        </div>

                    </div>

                    <div class="row">


                        <div class="col-lg-6">
                            <label class="small-label" id="label-category">Asset Class<span
                                    style="color:#d32f2f">*</span></label>
                            <nb-select shape="semi-round" placeholder="Select Asset Class" name="asset_class" required
                                #asset_class="ngModel" [(ngModel)]="model.asset_class"
                                (selectedChange)="selectClass($event)">
                                <nb-option *ngFor="let data of classList"
                                    [value]="data.category">{{data.category}}</nb-option>
                            </nb-select>
                            <div *ngIf="fm.submitted && asset_class.invalid" class="error-message">Asset Class is
                                required</div>
                        </div>

                        <div class="col-lg-6">
                            <label class="small-label" id="label-category">Assets Sub Class<span
                                    style="color:#d32f2f">*</span></label>
                            <nb-select shape="semi-round" placeholder="Select Assets Sub Class" name="asset_sub_class"
                                required #asset_sub_class="ngModel" [(ngModel)]="model.asset_sub_class"
                                (selectedChange)="selectSubClass($event)">
                                <nb-option *ngFor="let data of subClassList"
                                    [value]="data.item">{{data.item}}</nb-option>

                            </nb-select>
                            <div *ngIf="fm.submitted && asset_sub_class.invalid" class="error-message">Assets Sub Class
                                is required</div>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-lg-12">
                            <label class="small-label" id="label-category">Status Of Asset<span
                                    style="color:#d32f2f">*</span></label>
                            <nb-select shape="semi-round" placeholder="Select Status Of Asset" name="status_of_asset"
                                required #status_of_asset="ngModel" [(ngModel)]="model.status_of_asset"
                                (selectedChange)="selectStatus($event)" required>
                                <nb-option value="WORKING">WORKING</nb-option>
                                <nb-option value="NOT WORKING">NOT WORKING</nb-option>
                            </nb-select>
                            <div *ngIf="fm.submitted && status_of_asset.invalid" class="error-message">Center is
                                required</div>
                        </div>

                    </div>

                    <div class="row mt-3" style="margin: 0px 4px 0px 4px;" *ngIf="showAssetList">
                        <div class="col-lg-12" style="border: 1px solid #dee2e6; padding: 0px; border-radius: 6px;">
                            <!-- Search Input -->
                            <div class="p-2 border-bottom table-search-bar" style="background-color: #f7f9fc;">
                                <input style="height: 30%;" status="primary" nbInput fullWidth
                                    placeholder="Search Asset..." [(ngModel)]="searchTextStudent"
                                    (ngModelChange)="filterAsset()" />
                            </div>
                            <div style="max-height: 300px; overflow-y: auto;">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 15%;">
                                                <input type="checkbox" class="custom-checkbox"
                                                    [(ngModel)]="masterSelected" (change)="selectAll()"
                                                    [ngModelOptions]="{standalone: true}">
                                                Select ({{ selectedCount }})
                                            </th>
                                            <th style="width: 10%;">Brand </th>
                                            <th style="width: 20%;">Model</th>
                                            <th style="width: 20%;">Serial No</th>
                                            <th style="width: 12%;">Purchase Date</th>
                                            <th style="width: 23%;">Anudip ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- ✅ Show data rows when list is not empty -->
                                        <tr *ngFor="let asset of filteredAssetList; let i = index">
                                            <td style="width: 15%;">
                                                <input type="checkbox" class="custom-checkbox-td"
                                                    [(ngModel)]="asset.isSelected" (change)="checkIfAllSelected()"
                                                    name="leadSelect{{i}}" [ngModelOptions]="{standalone: true}">
                                            </td>
                                            <td style="width: 10%;">{{ asset.brand_name }}</td>
                                            <td style="width: 20%;">{{ asset.model_no }}</td>
                                            <td style="width: 20%;">{{ asset.serial_no }}</td>
                                            <td style="width: 12%;">{{ asset.purchase_date }}</td>
                                            <td style="width: 23%;">{{ asset.anudip_identification_no }}</td>
                                        </tr>

                                        <!-- ✅ Show this single row when list is empty -->
                                        <tr *ngIf="assetList.length === 0">
                                            <td colspan="6" class="text-center text-muted">
                                                No Asset Found
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>



                    <button nbButton status="primary" shape="semi-round" hero type="submit" [disabled]="isSubmitting">
                        Save
                    </button>

                </nb-card-body>
            </nb-card>
        </div>
    </div>
</form>