<form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate id="leadFormBulk" style="width: 100%;
max-width: 900px;margin: 0 auto;">
    <div class="row">
        <div class="col-lg-12">
            <nb-card>
                <nb-card-header>Asset Transfer</nb-card-header>
                <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">

                    <div class="row">
                        
                        <div class="col-lg-12">
                            <label class="small-label" id="label-category">From Center<span
                                    style="color:#d32f2f">*</span></label>
                            <nb-select shape="semi-round" placeholder="Select Center" name="from_center" required
                                #from_center="ngModel" [(ngModel)]="model.from_center">
                                <nb-option value="Center1">Center1</nb-option>
                                <nb-option value="Center2">Center2</nb-option>
                                <nb-option value="Center3">Center3</nb-option>

                            </nb-select>
                            <div *ngIf="fm.submitted && from_center.invalid" class="error-message">Center is required</div>
                        </div>

                    </div>

                    <div class="row">

                        
                        <div class="col-lg-6">
                            <label class="small-label" id="label-category">Asset Class<span
                                    style="color:#d32f2f">*</span></label>
                            <nb-select shape="semi-round" placeholder="Select Asset Class" name="asset_class" required
                                #asset_class="ngModel" [(ngModel)]="model.asset_class">
                                <nb-option value="Class1">Class1</nb-option>
                                <nb-option value="Class2">Class2</nb-option>
                                <nb-option value="Class3">Class3</nb-option>

                            </nb-select>
                            <div *ngIf="fm.submitted && asset_class.invalid" class="error-message">Asset Class is required</div>
                        </div>

                        <div class="col-lg-6">
                            <label class="small-label" id="label-category">Assets Sub Class<span
                                    style="color:#d32f2f">*</span></label>
                            <nb-select shape="semi-round" placeholder="Select Assets Sub Class" name="asset_sub_class" required
                                #asset_sub_class="ngModel" [(ngModel)]="model.asset_sub_class">
                                <nb-option value="Class1">Class1</nb-option>
                                <nb-option value="Class2">Class2</nb-option>
                                <nb-option value="Class3">Class3</nb-option>

                            </nb-select>
                            <div *ngIf="fm.submitted && asset_sub_class.invalid" class="error-message">Assets Sub Class is required</div>
                        </div>

                    </div>

                 <div class="row">
                        
                        <div class="col-lg-12">
                            <label class="small-label" id="label-category">Status Of Asset<span
                                    style="color:#d32f2f">*</span></label>
                            <nb-select shape="semi-round" placeholder="Select Status Of Asset" name="status_of_asset" required
                                #status_of_asset="ngModel" [(ngModel)]="model.status_of_asset">
                                <nb-option value="WORKING">WORKING</nb-option>
                                <nb-option value="NOT WORKING">NOT WORKING</nb-option>
                            </nb-select>
                            <div *ngIf="fm.submitted && status_of_asset.invalid" class="error-message">Center is required</div>
                        </div>

                    </div>


                    <button nbButton status="primary" shape="semi-round" hero type="submit" [disabled]="isSubmitting">
                        Save
                    </button>

                </nb-card-body>
            </nb-card>
        </div>
    </div>
</form>