<form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate id="leadForm" style="width: 100%;margin: 0 auto;">      
    <nb-card>
        <nb-card-header>Add Package</nb-card-header>
            <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
                <div class="row">
                    <div class="col-lg-6 mb-10">
                        <label class="small-label" id="label-category">
                            Type <span style="color:#d32f2f">*</span>
                        </label>
                        <nb-radio-group (valueChange)="typeChange($event)" name="package_type" [(ngModel)]="model.package_type"
                            #package_type="ngModel" required class="d-flex flex-row">
                            <nb-radio value="Free">Free</nb-radio>
                            <nb-radio value="Paid">Paid</nb-radio>
                        </nb-radio-group>
                        <div *ngIf="fm.submitted && package_type.invalid" class="error-message">
                            Type is required
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label" id="label-category">Name <span
                                style="color:#d32f2f">*</span></label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter Package Name"
                            name="package_name" required #package_name="ngModel" [(ngModel)]="model.package_name">
                        <div *ngIf="fm.submitted && package_name.invalid" class="error-message">
                            Package name is required
                        </div>
                    </div>
                    <div class="col-lg-3 mb-10">
                        <label class="small-label" id="label-category">Base Price <span
                                style="color:#d32f2f">*</span></label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter base price"
                            name="base_price" required #base_price="ngModel" [(ngModel)]="model.base_price">
                        <div *ngIf="fm.submitted && base_price.invalid" class="error-message">
                            Price is required
                        </div>
                    </div>
                    <div class="col-lg-3 mb-10">
                        <label class="small-label" id="label-category">Offer Price <span
                                style="color:#d32f2f">*</span></label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter offer price"
                            name="offer_price" required #offer_price="ngModel" [(ngModel)]="model.offer_price">
                        <div *ngIf="fm.submitted && offer_price.invalid" class="error-message">
                            Price is required
                        </div>
                    </div>
                    <div class="col-lg-6 mb-10">
                        <label class="small-label" id="label-category">Final Price <span
                                style="color:#d32f2f">*</span></label>
                        <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter final price"
                            name="final_price" required #final_price="ngModel"
                            [(ngModel)]="model.final_price">
                        <div *ngIf="fm.submitted && final_price.invalid" class="error-message">
                            Price is required
                        </div>
                    </div>
                    
                    <div class="col-lg-12 mb-10">
                        <label class="small-label" id="label-category">Details </label>
                        <textarea nbInput fullWidth shape="semi-round" placeholder="Enter details" name="package_details"
                        [(ngModel)]="model.package_details" #package_details="ngModel" rows="3" [maxlength]="500"></textarea>
                    </div>

                </div>
            </nb-card-body>
        <nb-card-footer>
            <div class="mt-3" style="display:flex; justify-content:flex-end; gap:8px;">
                <button nbButton status="primary" shape="semi-round" hero type="submit"
                    [disabled]="isSubmitting">
                    Save
                </button>
            </div>
        </nb-card-footer>
    </nb-card>
</form>
