<form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate id="leadForm" style="width: 80%;
max-width: 900px;margin: 0 auto;">
  <div class="row">
    <div class="col-lg-12">
      <nb-card >
        <nb-card-header>Add Lead</nb-card-header>
        <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
          <div class="row">
            <div class="col-lg-6">
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="First Name"
                name="first_name" required #first_name="ngModel" [(ngModel)]="model.first_name">
              <div *ngIf="fm.submitted && first_name.invalid" class="error-message">First name is required</div>
            </div>
            <div class="col-lg-6">
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Last Name"
                name="last_name" required #last_name="ngModel" [(ngModel)]="model.last_name">
              <div *ngIf="fm.submitted && last_name.invalid" class="error-message">Last name is required</div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Phone No"
                name="phone_number" required #phone_number="ngModel" [(ngModel)]="model.phone_number" maxLength="10" pattern="^\d{10}$">
              <div *ngIf="fm.submitted && phone_number.invalid" class="error-message">Phone number is required</div>
            </div>
            <div class="col-lg-6">
              <input type="email" nbInput fullWidth shape="semi-round" placeholder="Email ID"
                name="email_id" required #email_id="ngModel" [(ngModel)]="model.email_id" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$">
              <div *ngIf="fm.submitted && email_id.invalid" class="error-message">Valid email is required</div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Pincode"
                name="pincode" required #pincode="ngModel" [(ngModel)]="model.pincode">
              <div *ngIf="fm.submitted && pincode.invalid" class="error-message">Pincode is required</div>
            </div>

            <div class="col-lg-6">
              <nb-select shape="semi-round" placeholder="Select State"
                name="state" required #state="ngModel" [(ngModel)]="model.state" (selectedChange)="stateSelect($event)">
                <nb-option *ngFor="let state of stateList" [value]="state.state_code">{{state.state_name}}</nb-option>
              </nb-select>
              <div *ngIf="fm.submitted && state.invalid" class="error-message">State is required</div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <nb-select shape="semi-round" placeholder="Select District"
                name="district" required #district="ngModel" [(ngModel)]="model.district" (selectedChange)="districSelect($event)">
                <nb-option *ngFor="let distric of districList" [value]="distric.id">{{distric.district_name}}</nb-option>

              </nb-select>
              <div *ngIf="fm.submitted && district.invalid" class="error-message">District is required</div>
            </div>

            <div class="col-lg-6">
              <nb-select shape="semi-round" placeholder="Select Center"
                name="center" required #center="ngModel" [(ngModel)]="model.center" (selectedChange)="centerSelect($event)">
                <nb-option *ngFor="let center of centerList" [value]="center.center_id">{{center.short_code}}</nb-option>
                <nb-option *ngIf="centerList?.length === 0" >
                  No centers found
                </nb-option>
                
              </nb-select>
              <div *ngIf="fm.submitted && center.invalid" class="error-message">Center is required</div>
            </div>
          </div>

          <div class="row">

            <div class="col-lg-6">
              <nb-select shape="semi-round" placeholder="Select Course"
                name="course" required #course="ngModel" [(ngModel)]="model.course" (selectedChange)="courseSelect($event)">
                <nb-option *ngFor="let course of courseList" [value]="course.alias">{{course.alias}} - {{course.name}}</nb-option>
                <nb-option *ngIf="courseList?.length === 0" >
                  No Courses found
                </nb-option>
              </nb-select>
              <div *ngIf="fm.submitted && course.invalid" class="error-message">Course is required</div>
            </div>

            <div class="col-lg-6">
              <nb-select shape="semi-round" placeholder="Source Category"
                name="category" required #category="ngModel" [(ngModel)]="model.category" (selectedChange)="onCategoryChange($event)">
                <nb-option *ngFor="let category of categoryList" [value]="category.category_name">
                  {{ category.category_name }}
                </nb-option>
              </nb-select>
              <div *ngIf="fm.submitted && category.invalid" class="error-message">Source type is required</div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6">
              <nb-select shape="semi-round" placeholder="Source Type"
                name="source_type" required #source_type="ngModel" [(ngModel)]="model.source_type" (selectedChange)="onSourceChange($event)">
                <nb-option *ngFor="let source of filteredSourceList" [value]="source">
                  {{ source.source_type }}
                </nb-option>                

              </nb-select>
              <div *ngIf="fm.submitted && source_type.invalid" class="error-message">Source type is required</div>
            </div>
            <div class="col-lg-6">
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Source Name"
                name="source_name" required #source_name="ngModel" [(ngModel)]="model.source_name">
              <div *ngIf="fm.submitted && source_name.invalid" class="error-message">Source name is required</div>
            </div>
            <div class="col-lg-6"></div>
          </div>

          <button nbButton status="primary" shape="semi-round" hero type="submit" [disabled]="isSubmitting">
            Save
          </button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>
