<nb-card>
  <nb-card-header>
    Rejected Student Counseling
  </nb-card-header>

  <nb-card-body class="position-relative">

    <!-- Spinner overlay -->
    <div *ngIf="loading" class="loading-overlay d-flex justify-content-center align-items-center">
      <nb-spinner size="large" status="primary"></nb-spinner>
    </div>

    <!-- Content -->
    <div [class.content-blur]="loading">
      <div class="row mb-3">
        <div class="col-md-12">
          <nb-select placeholder="Select Center" [selected]="selectedCenter" (selectedChange)="centerChange($event)"
            fullWidth>
            <nb-option *ngFor="let center of centerList" [value]="center">
              {{ center.short_code }}
            </nb-option>
              <!-- Show fallback if no centers -->
            <nb-option *ngIf="centerList.length === 0" [disabled]="false">
              No Rejected Student Center Found !
            </nb-option>
          </nb-select>
        </div>

        <!-- <div class="col-md-6">
          <div class="filterDiv" >
            <nb-radio-group [(ngModel)]="selectedFilter" (ngModelChange)="onFilterChange($event)"
              class="d-flex flex-wrap gap-2">
              <nb-radio value="all" class="custom-radio-space my-radio"
                style="color:#030303; font-weight: bold;">All</nb-radio>
              <nb-radio value="student_pending" class="custom-radio-space my-radio" style="color: #636469;">Student
                Pending</nb-radio>
              <nb-radio value="po_done" class="custom-radio-space my-radio" style="color: #0163aa;">PO Done</nb-radio>
              <nb-radio value="po_pending" class="custom-radio-space my-radio" style="color: red;">PO Pending</nb-radio>
            </nb-radio-group>
          </div>
        </div> -->
      </div>

      <input type="text" nbInput fullWidth shape="semi-round" #search class="search mb-3" placeholder="Search..."
        (keydown.enter)="onSearch(search.value)">

      <ng2-smart-table [settings]="settings" [source]="source" (deleteConfirm)="onDeleteConfirm($event)">
      </ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>