<form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate id="leadForm" style="width: 90%;
max-width: 50%;margin: 0 auto;">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Add Donor</nb-card-header>
        <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
          <div class="row">
            <div class="col-lg-12">
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter Donor Name" name="donor_name"
                required #donor_name="ngModel" [(ngModel)]="model.donor_name">
              <div *ngIf="fm.submitted && donor_name.invalid" class="error-message">Particulars name is required</div>
            </div>
          </div>

          <button nbButton status="primary" shape="semi-round" hero type="submit" [disabled]="isSubmitting">
            Save
          </button>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</form>