<form #fm="ngForm" (ngSubmit)="onSubmit(fm)" novalidate style="width: 90%;
max-width: 90%;margin: 0 auto;">
  <div class="row">
    <div class="col-lg-12">
      <nb-card>
        <nb-card-header>Amount Received From Donor</nb-card-header>
        <nb-card-body [nbSpinner]="isSubmitting" nbSpinnerStatus="primary">
    
          <div class="row">
            <div class="col-lg-6">
              <nb-select shape="semi-round" placeholder="Select Donor Account" name="donor_account_id" required #donor_account_id="ngModel"
                [(ngModel)]="model.donor_account_id" (selectedChange)="donorSelect($event)">
                <nb-option *ngFor="let donor of donorList" [value]="donor.id">
                  {{ donor.budget_name }}
                </nb-option>
              </nb-select>
              <div *ngIf="fm.submitted && donor_account_id.invalid" class="error-message">Donor Account is required</div>
            </div>
            <div class="col-md-6">
                <input
                nbInput
                shape="semi-round"
                placeholder="Pick a received date"
                [nbDatepicker]="startPicker"
                name="received_date"
                #received_date="ngModel"
                [(ngModel)]="model.received_date"
                fullWidth>
                <nb-datepicker #startPicker></nb-datepicker>
                <div *ngIf="fm.submitted && received_date.invalid" class="error-message">Received Date is required</div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <input type="text" nbInput fullWidth shape="semi-round" placeholder="Enter Received Amount" name="amount"
                required #amount="ngModel" [(ngModel)]="model.amount">
              <div *ngIf="fm.submitted && amount.invalid" class="error-message">Received Amount is required</div>
            </div>
          </div>
          <button nbButton status="primary" shape="semi-round" hero type="submit" [disabled]="isSubmitting">
            Save
          </button>
        </nb-card-body>
      </nb-card>
      <nb-card *ngIf="isShowHide == 1">
        <nb-card-header>
            Amount List
        </nb-card-header>

        <nb-card-body class="position-relative">

            <div *ngIf="loading" class="loading-overlay d-flex justify-content-center align-items-center">
                <nb-spinner size="large" status="primary"></nb-spinner>
            </div>

            
            <div [class.content-blur]="loading">
            <input type="text" nbInput fullWidth shape="semi-round" #search class="search mb-3" placeholder="Enter keyword and then enter for search..."
                (keydown.enter)="onSearch(search.value)">

            <ng2-smart-table [settings]="settings" [source]="source">
            </ng2-smart-table>
            </div>
        </nb-card-body>
        </nb-card>
    </div>
  </div>
</form>